*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

section.kategori{
    background-image: url('../image/bg-pattern.jpg');
    background-size: cover;
    background-color: #FFFAF5;

}

.nav-link.active {
color: rgb(238,136,34) !important; 
}

.dropdown-item{
    font-weight: bold;

}

.dropdown-item:active{
    background-color: #ed5c01;
}

.scrolled{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* section.hero{
    background: rgb(238,136,34);
    background: linear-gradient(270deg, rgba(238,136,34,1) 23%, rgba(11,94,215,1) 100%);
    border-bottom-left-radius: 8rem;
    padding-top: 7rem;
    padding-bottom: 5rem;
    position: relative;
} */

section.about-us{
    border-bottom-right-radius: 8rem;
}

section.about-us .about-teks{
    background-color: #fff;
}


section.kategori .kategori-container{
    width: 300px;
    height: 250px;
    background-color:#EBECF0;
    border-radius: 1rem;
    padding-bottom: 2rem;
    padding-inline: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transfom 1s;
    cursor: pointer;
    transform: translateY(0);
    padding-right: 0;
}

section.kategori .kategori-container:hover{
    transform: translateY(-10px);
    border: 2px solid #0B5ED7;
}

section.kategori .btn-produk{
    border-radius:2rem ;
    padding: 5px 1.4rem;
}

section.kategori .kategori-desc{
    font-size: 14px;
    line-height: 1.2em;
}

.hero-image-container{
    width: 500px;
    height: 500px;
    padding-right: 0;
}

.hero-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.hero-text h1{
    color: white;
    font-weight: 600;
    text-align: center;
    line-height: 1em;
}

.hero-text p{
    color: white;
    font-weight: 500;
    text-align: center;
}

.hero-text button{
    color: white;
    padding-inline: 50px;
}

section.selling,section.gallery,section.about-us,section.testimoni{
    /* background-color: #F9F9F9; */
    background-image: url('../image/bg-pattern.jpg');
    background-size: cover;
}

section.selling .selling__container{
    min-height: 350px;
    padding-bottom: 2em;
    padding-top: 1em; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
}

section.selling .selling__container .icon i{
    font-size: 3rem;
    color: #BFBFBF;
}

section.selling .selling__container .title{
    font-size: 1.4rem;
    text-align: center;
}

section.selling .selling__container .desc{
    text-align: center;
    padding-inline:3em;
}

section.selling .selling__container:hover{
    border: 2px solid rgb(238,136,34);
    cursor: pointer;
}

.about-image-container{
    width: 100%;
    height: 400px;
}

.about-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.divider{
    height: 2px;
    width: 6rem;
    background-color: #0B5ED7;
    margin:auto 50%;
    transform: translateX(-50%);
}

.kategori_produk {
flex: 1;
text-align: center;
cursor: pointer;
padding: 10px;
border: 1px solid #ddd;
margin: 5px;
border-radius: 5px;
transition: background-color 0.3s;
}

.kategori_produk:hover {
background-color: #f0f0f0;
}

.info-container {
display: none;
margin-top: 2em;
}
.info-container img {
max-width: 100%;
height: auto;
}

.lyn-con{
    /* background-color: crimson; */
    width: 250px;
    height: 430px;
    /* position: relative; */
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding-bottom: 2rem;
    background-color: #fff;
    padding-left: 2em;
    padding-right: 2em;
}

.lyn-img{
    /* background-color: navy; */
    width: 100%;
    height: 200px;
    /* position: absolute; */
    margin-top: -30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 2rem;
}

.lyn-img img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 2rem;
}

/* .lyn-teks p{
    padding-inline: 1rem;
} */



.pakan-container{
    width: 250px;
    height: 300px;
    padding-top: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
    border: 3px solid #0000
}

.pakan-image{
    width: 100%;
    height: 200px;

}
.pakan-image img{
    height: 100%;
    width: 100%;
}

section.gallery .gallery-container{
    width: 250px;
    height: 250px;
    margin: 0;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2rem;
    border: 2px solid white;

    
}

section.gallery .gallery-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

section.kategori,section.layanan,section.lokasi,section.selling,section.gallery{
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.footer {
    background-color: #0B5ED7;
    color: #ffffff;
    padding: 40px 0;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-col {
    margin-bottom: 20px;
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-col p {
    font-size: 14px;
    line-height: 1.5;
}

.contact-list,
.social-list {
    list-style: none;
    padding-left: 0;

}

.contact-list li,
.social-list li {
    margin-bottom: 10px;
    font-size: 14px;
}

.contact-list li i,
.social-list li a i {
    margin-right: 10px;
    font-size: 16px;
}

.social-list {
    display: flex;
    justify-content: start;
    padding-left: 0;
}

.social-list li {
    margin-right: 15px;
}

.social-list li a {
    color: #ffffff;
    font-size: 18px;
    transition: color 0.3s;
}

.social-list li a:hover {
    color: #f8f9fa;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
    color: #ffffff;
}

.video-container{
    /* background-color: navy; */
    height: 400px;
}

.foto-container{
    width: 100%;
    height: 150px;
    background-color: cadetblue;
}

.foto-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}

.hero-2{
    background-color: #f7f5ef;
    padding-top: 10rem;
    padding-bottom: 5rem;
    position: relative;
}

.rectangle-side{
    background-color: #ed5c01;
    width: 150px;
    height: 150px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle-content{
    color: white;
    text-align: center;
}

.rectangle-content h3{
    font-weight: bold;
}

.rectangle-content p{
    margin-top: -10px;
}
.hero-new-img{
    background-color: #7ca9ed;
    width: 700px;
    height: 500px;
    border-radius: 3rem;
    position: relative;
}

.hero-new-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.cat-dog{
position: absolute;
/* bottom: -29px; */
left: 50%;
transform: translateX(-50%);
}

.hero-desc-new h3{
    font-weight: bold;
    font-size: 44px;
}

.hero-desc-new p{
    font-size: 18px;
}

.explore{
    background-color: #ed5c01;
    color: white;
    font-weight: 600;
    padding: 5px 30px;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 24px;
}

.mySwiper {
width: 100%;
height: 100%;
/* background-color: greenyellow; */
}


.swiper-slide{
    /* background-color: coral; */
    width: 200px;
    display: flex;
}

.testimoni-container{
    /* background-color: navy; */
    height: 500px;
    /* width: 300px; */
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.testimoni-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    cursor: pointer;
}

button.produk-kategori{
    font-weight: 600;
    border-radius: 2em;
}

.produk-kategori.active {
background-color: #fff; /* Sesuaikan dengan efek active yang diinginkan */
color: #0B5ED7;
}






@media(max-width:768px){
    section.hero{
        background: rgb(238,136,34);
        background: linear-gradient(180deg, rgba(238,136,34,1) 5%, rgba(11,94,215,1) 100%);
        border-bottom-right-radius: 4rem;
        border-bottom-left-radius: 4rem;
    }

    .hero-image-container{
        padding: 0;
    }

    section.selling .row{
        gap: 2rem;
    }

    section.gallery .gallery-container{
        width: 150px;
        height: 150px;
    }

    .footer .row {
        flex-direction: column;
        text-align: center;
    }
    .social-list{
        justify-content: center;
    }

    section.selling,section.gallery,section.about-us{
        background-size: fill;
    }

    .hero-new-img{
        width: 350px;
        height: 350px;
    }

    .rectangle-side{
        margin-top: 3em;
        width: 130px;
        height: 130px;
    }

    .hero-new-img{
        overflow: hidden;
    }




    
}